.card{
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    
}
.icon{
    font-size: 30px;
    width: fit-content;
}
.red{
    background-color: rgb(203, 78, 78);
}
.green{
    background-color: rgb(52, 139, 52);
}
.orange{
    background-color: orange;
}
.blue{
    background-color: rgb(68, 68, 202);
}