<mat-list role="list">
<div class="div1">
    
        <div class="profile-card">
            <img src="https://cdn1.iconfinder.com/data/icons/website-internet/48/website_-_female_business-512.png" alt="no image">
            <h3>Admin</h3>
            <h4>admin@ceoxyz.com</h4>
        </div>
    
        <mat-divider ></mat-divider>
        <h4 matSubheader>Pages</h4>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Institution</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Students</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Placements</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Statistics</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Cources</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Employees</a>

</div>   
  </mat-list>
  